@charset "utf-8";
/*第二页 */

.p2_1 {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.p2_2_box {
    height: 20%;
    left: 12%;
    overflow: hidden;
    position: absolute;
    top: 18%;
    width: 72%;
}
.p2_2 {
    left: 0%;
    position: absolute;
    top: 0%;
    width:100%;
}
.p2_3 {
    left: 10%;
    position: absolute;
    top: -16%;
    width: 4%;
}

.p2_4 {
    height: 3%;
    position: absolute;
    right: -20%;
    top: 40%;
    width: 90%;
}

.p2_5 {
    height: 3%;
    position: absolute;
    right: -45%;
    top: 45%;
    width: 90%;
}

.p2_6 {
    height: 3%;
    position: absolute;
    right: -64%;
    top: 50%;
    width: 90%;
}
.p2_7 {
    left: 11%;
    position: absolute;
    top: 47%;
    width: 73%;
}

.p2_8 {
    bottom: 8%;
    position: absolute;
    width: 100%;
}
