@charset "utf-8";
/* 第四页 */
.p4_tab{
	left: 5%;
    position: absolute;
    top: 20%;
    width: 90%;
    z-index: 1;
	}
.p4_1{
	left: 5%;
    position: absolute;
    top: 19%;
    width: 90%;
    z-index: 3;
	}
.left_tab{
	left: 3%;
    position: absolute;
    top: 19%;
    width: 47%;
    z-index: 4;
	}
.right_tab{
	position: absolute;
    right: 5%;
    top: 19%;
    width: 47%;
    z-index: 4;
	}
.p4_2{
	bottom: 22%;
    left: 7%;
    position: absolute;
    width: 86%;
    z-index: 4;
	}
.p4_3{
	bottom: 5%;
    left: 3%;
    position: absolute;
    width: 65%;
    z-index: 5;
	}
.nextbtn {
    bottom: -15%;
    position: absolute;
    right: 6%;
    width: 25%;
}
